<h1>About the Author</h1>
<p>An Amazon prince leaves his island home to explore the world and, in doing so, becomes one of the world's greatest heroes. (Just kidding, I'm just an ordinary kid learning how to code.)</p>
